# Chains
/core/chains/evm/headtracker @pinebit @samsondav @prashantkumar1982
/core/chains/evm/log @jmank88 @prashantkumar1982 @connorwstein
/core/chains/evm @samsondav @prashantkumar1982
/core/chains/terra @connorwstein @jmank88

# Services
/core/services/cron @spooktheducks @samsondav
/core/services/directrequest @spooktheducks @connorwstein @samsondav
/core/services/feeds @jkongie
/core/services/fluxmonitorv2 @jkongie @PiotrTrzpil @spooktheducks @connorwstein
/core/services/health @samsondav
/core/services/job @spooktheducks @connorwstein
/core/services/keeper @pickleyd/keepers
/core/services/keystore @RyanRHall
/core/services/offchainreporting @spooktheducks @connorwstein @samsondav
/core/services/periodicbackup @PiotrTrzpil @samsondav
/core/services/pg @samsondav
/core/services/pipeline @spooktheducks @connorwstein @prashantkumar1982
/core/services/synchronization
/core/services/telemetry
/core/services/vrf @connorwstein @makramkd
/core/services/webhook @spooktheducks

# API
/core/web @jkongie

# CLI
/core/cmd @jkongie

# UI
/operator-ui/ @DeividasK @jkongie

# Contracts
/contracts/ @alexroan @se3000 @connorwstein
/contracts/**/*Keeper* @pickleyd/keepers
/contracts/**/*Upkeep* @pickleyd/keepers

# Tests
/integration-tests/ @kalverra @tateexon @skudasov @anieeg
/integration-tests/**/*keeper* @pickleyd/keepers

# Misc
/core/store @samsondav @jmank88
/core/chains @samsondav
/core/logger @jmank88
/core/internal @samsondav @jmank88

# CI/CD
/.github/** @alexroan @chainchad @HenryNguyen5 @javuto @jkongie @jmank88 @samsondav
/.github/workflows/integration-tests.yml @kalverra @tateexon @skudasov @anieeg
/.github/workflows/integration-chaos-tests.yml @kalverra @tateexon @skudasov @anieeg
/.github/workflows/performance-tests.yml @kalverra @tateexon @skudasov @anieeg

# Dependencies
contracts/scripts/requirements.txt @pickleyd/prodsec-public
.tool-versions @pickleyd/prodsec-public
.nvmrc @pickleyd/prodsec-public
package.json @pickleyd/prodsec-public
yarn.lock @pickleyd/prodsec-public
go.mod @pickleyd/prodsec-public
go.sum @pickleyd/prodsec-public
integration-tests/go.mod @pickleyd/prodsec-public
integration-tests/go.sum @pickleyd/prodsec-public
flake.nix @pickleyd/prodsec-public
flake.lock @pickleyd/prodsec-public

# Config
./core/config @samsondav @jmank88
./docs/CONFIG.md @samsondav @jmank88 @dwightjl
./internal/config/docs.toml @samsondav @jmank88 @dwightjl
